html,  body {   
    height: 50%;
}
body{
       margin: 0px;
       margin-top: 0px;
       display: flex;
      

      /* background-color: #F8ECF8; */
}
.mainDiv{
    flex-grow: 1;
    
}

#topNav{
   display: flex;
   flex: 1 1 auto;
   flex-direction: row;
   max-width: 75%;
   background-color: rgb(235, 237, 249);
   margin-top: 0px;
   margin-bottom: 0px;
}

#topNav li{
   list-style: none;
   padding: 5px;
   margin: 5px;
   margin-left: 0px;
   display: flex;   
   color: rgb(74, 71, 206);
   font: bold 14px Times New Roman;
}

li span[class="andela"]{
    color: rgb(74, 71, 206);
   font: bold 30px Tahoma;
   margin-left: 0px;
   padding: 0px;
}

li span[class="social"]{
   color: rgb(116, 118, 130);
   font: bold 30px Tahoma;
   padding: 0px;
   
  
   
}

li a[class="home"]{
    color: rgb(74, 71, 206);
   font: bold 14px Tahoma;
   padding: 3px;
   text-decoration: none;
   margin-left: 100px;
   align-self: center;
}

li a[class="about"]{
    color: rgb(74, 71, 206);
   font: bold 14px Tahoma;
   padding: 3px;
   text-decoration: none;
   align-self: center;
   margin-left: 30px;
}

#signings{
    display: flex;
    flex-direction: row;
    background-color: white;
    list-style: none;
    position: absolute;
    right: 3%;
    align-content: center;
    padding: 4px;
    margin-bottom: 15px;
    
}
#signings li a[class="logIn"]{
    color: rgb(74, 71, 206);
   font: bold 12px Arial;
   align-self: flex-start; 
   flex-grow: 1;
   list-style: none;
   margin-left: 0px;
   flex-basis: 10%;
   flex-basis: auto;
   justify-content: flex-end;
   padding: 3px;
   text-decoration: none;
   margin-right: 20px;   
   align-self: center;
}

#signings button[id="signUp"] {
   background-color: rgb(74, 71, 206);
   border: none;
   color: #FFFFFF;
   font-family:  Arial, Helvetica, sans-serif;
   padding: 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 10px;
   margin-right: 10px;
   box-shadow: 0 17px 10px -15px rgba(0, 0, 0, 4);
   cursor: pointer;
   transition: all ease-in-out;  
   border-radius: 25px;
   min-width: 110px;
   height: 30px;
   align-self: center;
}

.sec2Box{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 237, 249);
    width: 78%;
    height: 550px;
    padding-top: 70px;
    flex-grow: 1;
    
}
.sec2Box h2{
    margin-left: 40px;
    font: normal 50px black;
    color: rgb(34,33, 41);
    font-family:  sans-serif
}


.sec2Box button[class="btnExplore"]{
   background-color: rgb(64, 82, 202);
   border: none;
   color: #FFFFFF;
   font: bold 12px Tahoma Black;
   font-family:  Arial, Helvetica, sans-serif;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   max-width: 150px;
   min-width: 30px;
   height: 45px;
   margin: 10px;
   margin-left: 40px;
   box-shadow: 0 17px 10px -19px rgba(0, 0, 0, 4);
   cursor: pointer;
   transition: all ease-in-out;  
   border-radius: 25px;
   width: 200px;
}

#smallBox{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 460px;
    left: 45%;
    height: 100px;
    width: 200px;
    background-color: white;
    padding-left:  15px;
    padding-top: 15px;
    padding-right: 10px;
    border-radius: 15px;


}
#smallBox h3{
    margin: 0px;
    margin-bottom: 10px;
    font: bold 18px Tahoma;
    color: rgb(110, 110, 110);
}
#smallBox p{
    margin-top: 0px;
    font: normal 13px Tahoma;
}


.outlineBox{
    position: absolute;
    top: 55px;
    left: 49%;
    margin: 0;
    border: 2px solid #D6D1D1;
    width: 550px;
    height: 470px;
    cursor: not-allowed;
    border-bottom: 0px;
}

.image24{
    position: absolute;
    top: 80px;
    left: 51%;
    margin: 0;
    width: 590px;
    height: 550px;
}
h1{
    font-family:  sans-serif;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #2B2A2A;
    font-size: 45px;
}

#try1{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: white;
    justify-content: space-around;
    margin-left: 0px;
    padding-left: 0px;
}

#try1 li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    align-items: center;
    background-color: white;
    list-style: none;
    margin: 5px;
    margin-left: 0px;
    border: 1px solid #D3D2D2;
    border-top: 0px;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;

}
#try1 li h4{
    
    font: bold 15px Tahoma;
    color: rgb(68, 68, 68);
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 0px;

}

li p{
    margin-top: 5px;
    font: normal 12px Tahoma;
    margin-left: 10px;
    
}

.buttonAndImages{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 0px;

}

.boxBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto; 
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 0px;
}
.boxBar div[id="bar1"]{
    height: 15px;
    width: 250px;
    background-color: rgb(181, 53, 80);
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    border-color: blue;
    border-width: 2px;
    
}
.boxBar div[id="bar2"]{
    height: 15px;
    width: 200px;
    background-color: rgb(204, 125, 65);
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    border-color: blue;
    border-width: 2px;
    
}
.boxBar div[id="bar3"]{
    height: 15px;
    width: 230px;
    background-color: rgb(69, 74, 196);
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;   
    border-color: blue;
    border-width: 2px;
    
}

.boxBar p{
    color: #ADADAD;
    font: bold 12px Tahoma;
    margin-left: 40px;
}


li button {
    background-color: rgb(229, 228, 246);
    border: none;
    color: rgb(49, 49, 49);
    font: normal 15px Tahoma Black;
    font-family:  Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 17px 10px -17px rgba(0, 0, 0, 4);
    cursor: pointer;
    transition: all ease-in-out;  
    border-radius: 20px;
    height: 35px;
    min-width: 95px;
    max-height: 40px;
    height: 35px;
    

}

.imageCropper1{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 10px;

}
.imageCropper1 img[class="profilePic1"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    left: 0px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1px;
 

}
.imageCropper1 img[class="profilePic2"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    right: 20px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
   

}
.imageCropper1 img[class="profilePic3"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    right: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
    

}
.imageCropper1 img[class="profilePic4"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    right: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
    

}

.imageCropper1 img[class="profilePic5"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    right: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
    

}
/*.profilePic1{
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
    
}
*/

.bottom{
    display: flex;
    flex-direction: row;

}

.bottomP1{
    font: bold 12px Tahoma;
    color: black;
    font-family:  sans-serif;

}
.bottomP2{
    font: bold 12px Tahoma;
    color: black;
    margin-left: 70px;
    font-family:  sans-serif;
}



/*
#box4{
    width: 0;
    height: 0;
    border-top: 100px solid #F3ABAB;
    border-left: 100px solid transparent;
    position: absolute;
    margin-left: 20%;
    margin-top: 100px;
}
#box5{
    width: 100px;
    height: 100px;
    background: #F3ABAB;
    position: absolute;
    margin-left: 20%;
    
}
*/

.buttonAndImages2{
    display: flex;
    flex-direction: row;
}
/*
.imageCropper2 img{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1px;

}
.profilePic{
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

*/

.imageCropper2{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 10px;

}
.imageCropper2 img[class="profilePic1"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    left: 0px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1px;
 

}
.imageCropper2 img[class="profilePic2"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    right: 20px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
   

}
.imageCropper2 img[class="profilePic3"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    right: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
    

}
.imageCropper2 img[class="profilePic4"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    right: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
    

}

.imageCropper2 img[class="profilePic5"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    right: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
    

}




.buttonAndImages3{
    display: flex;
    flex-direction: row;
}


/*
.imageCropper3 img{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1px;

}
.profilePic{
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}
*/

.imageCropper3{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 10px;

}
.imageCropper3 img[class="profilePic1"]{
    width: 40px;
    height: 40px;
    position: relative;
    left: 0px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1px;
 

}
.imageCropper3 img[class="profilePic2"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    right: 20px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
   

}
.imageCropper3 img[class="profilePic3"]{
    width: 40px;
    height: 40px;
    position: relative;
    right: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
    

}
.imageCropper3 img[class="profilePic4"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    right: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
    

}

.imageCropper3 img[class="profilePic5"]{
    
    width: 40px;
    height: 40px;
    position: relative;
    right: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
    

}









.sec2Box2{
    display: flex;
    flex-direction: row;
    width: 86.8%;
    height: 300px;
    padding-top: 70px;
    margin-bottom: 50px;
    
    
}

.btnOpenSec{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    justify-content: center;
    padding-top: 150px;
}

.sec2Box2 h1{
    margin-left: 40px;
    color: #2B2A2A;
    font: bold 50px Tahoma;  
    margin-bottom: 5px;
    margin-left: 0px; 
    font-family:  sans-serif;
    
}
.sec2Box2 p{
    font: normal 16px Tahoma;
    font-family:  sans-serif;
    text-align: left;
    line-height: 30px;
}

.image9{
    top: 110%;
    left: 5%;
    margin-left: 4%;
    width: 700px;
    height: 500px;
    flex-basis: 50%;
    min-width: 50%;
}

.sec2Box2 button[class="btnOpen"]{
    background-color: rgb(66, 84, 186);
   border: none;
   color: #FFFFFF;
   font: bold 12px Tahoma Black;
   font-family:  Arial, Helvetica, sans-serif;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   max-width: 50px;
   min-width: 150px;
   margin: 10px;
   margin-left: 0px;
   box-shadow: 0 17px 10px -18px rgba(0, 0, 0, 4);
   cursor: pointer;
   transition: all ease-in-out;  
   border-radius: 25px;
   height: 40px;
  
   width: 200px;
}

/* THE GALLERY SECTION */

.galleryHead{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    color: #2B2A2A;
    font: bold 40px Tahoma;  
    margin-bottom: 5px;
    margin-left: 0px; 
    margin-top: 220px;
    font-family:  sans-serif;

}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery div{
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid rgb(199, 198, 198);;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 15px;

}
.gallery div img{
    height: 200px;
    width: 270px;
    border-radius: 5%;

}
.gallery div h4{
    font: bold 13px Tahoma;
    align-self: flex-start;
    margin-left: 15px;
    margin-bottom: 10px;
    font-family:  sans-serif;
}
.gallery div footer{
    font: bold 11px Tahoma;
    align-self: flex-start;
    margin-left: 15px;
    margin-bottom: 10px;
    color: rgb(128, 126, 126);
}

/* THE LAST SECTION  */
.bottomSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #F8F2F2;
    padding: 20px;
    padding-top: 10px;
    padding-right: 40px;

}
.bottomSection h4{
    align-self: flex-start;
    margin-left: 40px;
    font: bold 18px Tahoma;
    color: rgb(74, 71, 206);
}
.bottomSection h3{
    display: flex;
    font: normal 20px Tahoma;
    align-items: flex-end;
    margin-left: 0px;
}
.bottomSection h1{
    align-self: flex-start
}

.bottomSection h1 span[class="andela2"]{
    color: rgb(74, 71, 206);
   font: bold 35px Tahoma;
   flex-grow: 0;
   margin-left: 0px;
  
   
   align-self: flex-start;
   padding: 0px;
   
   
}
.bottomSection h1 span[class="social2"]{
   color: rgb(66, 67, 70);
   font: bold 35px Tahoma;
   align-self: flex-start; 
   flex-grow: 0;
   margin-left: 0px;
   flex-basis: 10%;
   justify-content: flex-start;
   padding: 0px;

}

footer{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    background-color: white; 
    font: normal 15px Tahoma;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 20px;
}





































