html,  body {   
    height: 50%;
}
body{
       margin: 0px;
       margin-top: 0px;
       display: flex;
      

      /* background-color: #F8ECF8; */
}
.mainDiv{
    flex-grow: 1;
    
}

#topNav{
   display: flex;
   flex: 1 1 auto;
   flex-direction: row;
   max-width: 100%;
   justify-content: space-between;
    background-color: rgb(235, 237, 249);
   margin-top: 0px;
   margin-bottom: 0px;
}

#topNav li{
   list-style: none;
   padding: 5px;
   margin: 5px;
   margin-left: 0px;
   display: flex;   
   flex: 1 1 auto;
   
   justify-content: flex-start;
   color: rgb(74, 71, 206);
   font: bold 14px Times New Roman;
}

li span[class="andela"]{
    color: rgb(74, 71, 206);
   font: bold 25px Tahoma;
   align-self: flex-start; 
   flex-grow: 0;
   margin-left: 0px;
   flex-basis: 15%;
   justify-content: flex-end;
   padding: 0px;
   flex-basis: 10%;
   
}
li span[class="social"]{
   color: black;
   font: normal 25px Tahoma;
   align-self: flex-start; 
   flex-grow: 0;
   margin-left: 0px;
   flex-basis: 10%;
   justify-content: flex-start;
   padding: 0px;

}

li a[class="home"]{
    color: rgb(74, 71, 206);
   font: bold 12px Tahoma;
   align-self: flex-start; 
   flex-grow: 0;
   margin-left: 0px;
   flex-basis: 10%;
   justify-content: flex-start;
   padding: 3px;
   text-decoration: none;
}
li a[class="about"]{
    color: rgb(74, 71, 206);
   font: bold 12px Tahoma;
   align-self: flex-start; 
   flex-grow: 0;
   
   margin-left: 0px;
   flex-basis: 10%;
   justify-content: center;
   padding: 3px;
   text-decoration: none;
   
}
#signings{
    display: flex;
    background-color: white;
    list-style: none;
}
#signings li a[class="logIn"]{
    color: rgb(74, 71, 206);
   font: bold 12px Arial;
   align-self: flex-start; 
   flex-grow: 1;
   list-style: none;
   margin-left: 0px;
   flex-basis: 10%;
   flex-basis: auto;
   justify-content: flex-end;
   padding: 3px;
   text-decoration: none;
   
}

#signings button[id="signUp"] {
   background-color: rgb(74, 71, 206);
   border: none;
   color: #FFFFFF;
   font: normal 12px Tahoma Black;
   padding: 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 10px;
   box-shadow: 0 17px 10px -12px rgba(0, 0, 0, 4);
   cursor: pointer;
   transition: all ease-in-out;  
   border-radius: 25px;
   min-width: 100px;
}

.sec2Box{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 237, 249);
    width: 86.8%;
    height: 300px;
    padding-top: 70px;
    flex-grow: 1;
    
}
.sec2Box h2{
    margin-left: 40px;
    font: bold 25px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}


.sec2Box button[class="btnExplore"]{
   background-color: #210796;
   border: none;
   color: #FFFFFF;
   font: normal 12px Tahoma Black;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   max-width: 50px;
   min-width: 30px;
   margin: 10px;
   margin-left: 40px;
   box-shadow: 0 17px 10px -12px rgba(0, 0, 0, 4);
   cursor: pointer;
   transition: all ease-in-out;  
   border-radius: 25px;
   min-width: 110px;
}

#smallBox{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 265px;
    left: 57%;
    background-color: white;
    padding-left:  15px;
    padding-top: 5px;
    padding-right: 10px;
    border-radius: 15px;


}
#smallBox h3{
    margin: 0px;
    margin-bottom: 10px;
    font: bold 18px Tahoma;
}
#smallBox p{
    margin-top: 0px;
    font: normal 13px Tahoma;
}


.outlineBox{
    position: absolute;
    top: 55px;
    left: 60%;
    margin: 0;
    border: 2px solid #D6D1D1;
    width: 415px;
    height: 320px;
    cursor: not-allowed;
    border-bottom: 0px;
}

.image24{
    position: absolute;
    top: 80px;
    left: 64%;
    margin: 0;
    width: 400px;
    height: 300px;
}
.upEvents{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 40px;
    margin-top: 50px;
}

#try1{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: white;
    justify-content: space-around;
    margin-left: 0px;
    padding-left: 0px;
}

#try1 li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    align-items: center;
    background-color: white;
    list-style: none;
    margin: 5px;
    margin-left: 0px;
    
   
    border: 1px solid #D3D2D2;
    border-top: 0px;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
}
#try1 li h4{
    
    font: bold 15px Tahoma;
    color: black;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 2px;
    margin-top: 0px;

}

li p{
    margin-top: 0px;
    font: normal 12px Tahoma;
    
}

.buttonAndImages{
    display: flex;
    flex-direction: row;
}

.boxBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto; 
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 0px;
}
.boxBar div[id="bar1"]{
    height: 15px;
    width: 250px;
    background-color: rgb(181, 53, 80);
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    border-color: blue;
    border-width: 2px;
    
}
.boxBar div[id="bar2"]{
    height: 15px;
    width: 200px;
    background-color: rgb(204, 125, 65);
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    border-color: blue;
    border-width: 2px;
    
}
.boxBar div[id="bar3"]{
    height: 15px;
    width: 230px;
    background-color: rgb(69, 74, 196);
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;   
    border-color: blue;
    border-width: 2px;
    
}

.boxBar p{
    color: #ADADAD;
    font: bold 12px Tahoma;
    margin-left: 40px;
}


li button {
    background-color: rgb(229, 228, 246);
    border: none;
    color: rgb(113, 113, 123);
    font: bold 14px Ariel Black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    box-shadow: 0 17px 10px -17px rgba(0, 0, 0, 4);
    cursor: pointer;
    transition: all ease-in-out;  
    border-radius: 25px;
    height: 40px;
    min-width: 110px;
    max-height: 40px;
    

}

.imageCropper1 img{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1px;

}
.profilePic{
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

.bottom{
    display: flex;
    flex-direction: row;

}

.bottomP1{
    font: bold 12px Tahoma;
    color: black;

}
.bottomP2{
    font: bold 12px Tahoma;
    color: black;
    margin-left: 70px;
}



/*
#box4{
    width: 0;
    height: 0;
    border-top: 100px solid #F3ABAB;
    border-left: 100px solid transparent;
    position: absolute;
    margin-left: 20%;
    margin-top: 100px;
}
#box5{
    width: 100px;
    height: 100px;
    background: #F3ABAB;
    position: absolute;
    margin-left: 20%;
    
}
*/

.buttonAndImages2{
    display: flex;
    flex-direction: row;
}

.imageCropper2 img{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1px;

}
.profilePic{
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}


.buttonAndImages3{
    display: flex;
    flex-direction: row;
}

.imageCropper3 img{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1px;

}
.profilePic{
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}











































